<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852216624223-g8io3gq3jumk2ttk8qhds79engffncd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852216624223-g8io3gq3jumk2ttk8qhds79engffncd0</string>
	<key>API_KEY</key>
	<string>AIzaSyB9bGmdO6nn_nTawgYtKXztf4DqtFUF_PE</string>
	<key>GCM_SENDER_ID</key>
	<string>852216624223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dienstplan</string>
	<key>PROJECT_ID</key>
	<string>dienstplan-1091a</string>
	<key>STORAGE_BUCKET</key>
	<string>dienstplan-1091a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852216624223:ios:2e6da5a33a443a0b4f57ea</string>
</dict>
</plist>